body{
    background-color: bisque;
}
/* Navbar */
.navbar-nav a{
    font-size: 18px;
}
.about-info {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: rgb(4, 8, 253);
    
}
.content{
    max-width: 75vw;
    margin-left:25rem ;
    margin-top: 3rem;
    color: white;

}